#page-wrap{
  min-height: calc(100vh - 100px);

  .images-wrap{
    pointer-events: none;

    img{
      max-width: 100%;
    }
  }
  .white-card{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 10px 25px;
    border: 1px solid #333;
  }
  .full-width-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .fillIn {
      flex: 1;
      padding: 0;
      margin: 0;
      color: transparent;
      position: relative;
      &:after{
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 100%;
        content: '';
        height: 1px;
        background-color: #000;
      }
    }
  }

}
footer{
}
